.flex-container {
    font-size: 14px;
}

.flex-container > div,
.player-list-header {
    max-width: 55%;
    min-width: 980px;
}

@media screen and (max-width: 599px) {
    .flex-container > div,
    .player-list-header {
        width: 90%;
    }
}

.player {
    margin-top: 20px;
    height: 65px;
    text-align: center;
    background-color: #E14747;
}

.player > div:not(:last-child):after {
    content: '';
    height: 100%;
    margin-left: 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.flex-item {
    padding: 0 20px;
}

.title {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
}

.icon {
    color: white;
}

.volume {
    margin-bottom: 3px;
}

.playback .icon {
    line-height: 35px;
}

.play_arrow .icon {
    line-height: 40px;
}

.playback > a {
    margin: 0 3px;
}

.skip_previous,
.skip_next {
    width: 35px;
    height: 35px;
    color: #ffffff;
    background-color: #B64645;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.play_arrow {
    width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #B64645;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.player-progess {
    background: #eee;
}

.progress-bar {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}

.player-info {
    background: #eee;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px solid rgba(28, 27, 27, 0.2);
}

.start-time,
.end-time {
    margin: 5px 0px 0px 3px;
}

.music-title {
    width: 60%;
    text-align: center;
}

.player-list-header > div {
    background: #e6dbdb;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
}

.player-list-header .flex-item {
    width: 30%;
    text-align: center;
}

.player-list {
    background: #eee;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}

.player-list:hover {
    background: #c2c7dc;
    cursor: pointer;
}

.active {
    background: #dcdee6;
}

.player-list .flex-item {
    width: 30%;
    max-width: 320px;
    height: 30px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
