<div fxLayout="row" fxLayoutAlign="center center" class="flex-container">
    <div fxLayout="row" fxLayoutAlign="center center" class="player">
        <div class="flex-item title" fxLayoutAlign="center center">Music Player</div>
        <div fxLayoutAlign="center center" class="flex-item volume">
            <a class="volume_down" href="javascript:void(0);" (click)="volumeDown()">
                <md-icon class="icon">volume_down</md-icon>
            </a>
            <md-slider [(ngModel)]="volume"  (click)="setVolume(volume)" min="0" max="1" step="0.1"></md-slider>
            <a class="volume_up" href="javascript:void(0);" (click)="volumeUp()">
                <md-icon class="icon">volume_up</md-icon>
            </a>
        </div>
        <div fxLayoutAlign="center center" class="flex-item playback">
            <a class="skip_previous" href="javascript:void(0);" (click)="playPrev()">
                <md-icon class="icon">skip_previous</md-icon>
            </a>
            <a class="play_arrow" href="javascript:void(0);" (click)="pause()">
                <md-icon class="icon" *ngIf="!paused">pause</md-icon>
                <md-icon class="icon" *ngIf="paused">play_arrow</md-icon>
            </a>
            <a class="skip_next" href="javascript:void(0);" (click)="playNext()">
                <md-icon class="icon">skip_next</md-icon>
            </a>
        </div>
        <div class="flex-item search">
            <md-input placeholder="search music">
                <span md-prefix>
          <i class="material-icons icon">search</i>
          &nbsp;
        </span>
            </md-input>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="flex-container player-info">
    <div fxLayoutAlign="space-between center">
        <div class="flex-item start-time">
            <span>{{elapsed}}&nbsp;</span>
        </div>
        <div class="flex-item music-title">
            <span>{{song?.name}} &nbsp;</span>
        </div>
        <div class="flex-item end-time">
            <span>{{duration}}</span>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class=" flex-container player-progess">
    <div fxLayoutAlign="center center">
        <div class="flex-item progress-wrap">
            <md-slider [(ngModel)]="progress" (change)="updateProgress()" min="0" max="1" step="0.01" class="progress-bar"></md-slider>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class=" flex-container player-list-header">
    <div fxLayoutAlign="space-between center">
        <div class="flex-item">
            Track
        </div>
        <div class="flex-item">
            Artist
        </div>
        <div class="flex-item">
            Album
        </div>
    </div>
</div>
<div *ngFor="let song of music; let i=index" fxLayout="row" fxLayoutAlign="center center" class=" flex-container player-list">
    <div fxLayoutAlign="space-between center" (click)="setMusic(song,i)">
    
        <div class="flex-item">
            {{song.name}}
        </div>
        <div class="flex-item">
            Unknown Artist
        </div>
        <div class="flex-item">
            Unknown Album
        </div>
      
    </div>
</div>